@font-face {
  font-family: SFUI Display;
  src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
}
@font-face {
  font-family: SFUI-400;
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
}
@font-face {
  font-family: SFUI Light;
  src: url("/fonts/SFCompactDisplay-Light.otf") format("opentype");
}