html, body
  height: 100%
  margin: 0
body
  font-family: Helvetica, Arial, sans-serif
  background-color: #b9e3ed
a
  color: $blue
  text-decoration: none

input:focus
  outline: none
input[type="submit"]
  cursor: pointer
  text-align: left
  border: none
  -webkit-appearance: none
.btn
  position: relative
  display: block
  width: 325px
  line-height: 56px
  border-radius: 28px
  color: #fff
  font-size: 20px
  font-weight: 700
  padding: 0 23px
  @include transition(all 0.3s)
  @include box-sizing()
  &.btn_blue
    background-color: $blue
  &.btn_dark-blue
    background-color: $darkBlue
  &:hover
    color: rgba(255, 255, 255, 0.8)
.btn_icon
  display: inline-block
  position: absolute
  right: 12px
  top: 12px
  width: 33px
  height: 32px
  fill: #fff
.logo
  padding: 28px 0 29px
  width: 170px
  height: 170px
.container-layout
.container
  width: 1040px
  margin: 0 auto
  max-width: 100%

.container_top
  @include background-size(cover)
  background-repeat: no-repeat
  background-position: center
  height: 100vh
  max-width: 100%
  margin: 0 auto
  @include flexbox()
  @include flex-direction(column)

.section-top
  padding: 0 56% 0 0
.section-top_title
  color: #ffffff
  font-size: 2.875rem
  font-weight: 700
  line-height: 60.5px
  padding-bottom: 18px
.section-top_info
  padding-bottom: 47px
  color: #ffffff
  font-size: 1.563rem
  font-weight: 400
  line-height: 2rem
  padding-left: 4px
  letter-spacing: -0.2px
  width: 94%
.section-top_btn
  margin-left: 3px
.section-form
  padding: 50px 0 54px
  background-color: #b9e3ed
.form-sign
  margin: 0 auto
  width: 325px
=keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content
  @-moz-keyframes #{$animation-name}
    @content
  @keyframes #{$animation-name}
    @content
.transform
  -webkit-animation: animtransform 1s
  animation: animtransform 1s
@keyframes animtransform
  0%
    @include transform(translateY(120px))
  100%
    @include transform(translateY(0%))
.form
  padding-top: 59px
.form_submit
  position: relative
  margin-top: 31px
.form_group
  position: relative
  margin-bottom: 16px
.form_input
  background-color: transparent
  font-size: 14px
  padding: 10px 10px 10px 0
  display: block
  width: 100%
  border: none
  color: $darkBlue
  border-radius: 0
  border-bottom: 1px solid #738aaa
  @include box-sizing()
  &:focus ~ label, &:valid ~ label
    top: -6px
    color: $darkBlue
.form_label
  color: #738aaa
  font-size: 0.938rem
  font-weight: 400
  position: absolute
  pointer-events: none
  left: -1px
  top: 3px
  transition: 0.2s ease all
  -moz-transition: 0.2s ease all
  -webkit-transition: 0.2s ease all

.log-in
  padding: 32px 0 49px
  text-align: center
  color: #738aaa
  font-weight: 400
  font-size: 13px
  font-family: "SFUI Display"
  a
    font-weight: 700

.privacy-policy
  text-align: center
  color: #738aaa
  font-family: "SFUI Display"
  font-size: 11px
  font-weight: 400
  line-height: 13px
  a
    font-weight: 700

.section-info
  padding-top: 43px
  background-color: $darkBlue
  text-align: center

.section-info_title
  font-size: 1.625rem
  font-weight: 700
  color: #fff
  padding-bottom: 47px

.section-info_box
  @include flexbox()
  @include justify-content(space-around)

.section-info_item
  padding-bottom: 30px
  max-width: 285px
.section-info_img
  width: 106px
  height: 106px
.section-info_name
  color: #fff
  font-family: "SFUI-400"
  font-size: 17px
  text-transform: uppercase
  padding: 17px 0 6px
  line-height: 1
.section-info_p
  color: #b9e3ed
  font-family: "SFUI Light"
  font-size: 20px
  font-weight: 400
  line-height: 24px
.section-footer
  height: 120px
  @include flexbox()
  @include flex-direction(column)
  justify-content: center
  background-color: #fff
.footer_links
  text-align: center
.footer_link
  font-size: 0.813rem
  font-weight: 700
  line-height: 20px
  &:after
    display: inline-block
    content: "•"
    text-align: center
    width: 30px
  &:last-child
    &:after
      display: none

.btn-scroll
  height: 70px
  background-color: $blue
  @include flexbox()
  @include justify-content(center)
  @include align-items(center)

.icon-top
  fill: #fff
  width: 20px
  height: 12px

@media (max-width: 1200px)
  .section-top
    padding: 0 50% 0 40px
@media (max-width: 1024px)
  .section-info_box
    @include flex-direction(column)
    @include align-items(center)
  .container_top
    min-height: 600px
@media (max-width: 800px)
  .logo
    width: 6.25rem
    height: 6.25rem
    padding: 18px 0 13px
  .container_top
    position: relative
    min-height: 480px
    background-position: 64% 50%
  .section-top_btn
    position: absolute
    left: 50%
    margin-left: -163px
    bottom: 57px
  .section-top
    padding: 0 50% 0 26px
  .section-top_title
    font-size: 1.813rem
    line-height: 1.875rem
    padding-bottom: 15px
  .section-top_info
    font-size: 1.125rem
    line-height: 1.344rem
    width: 120%
    padding-left: 0
    span
      display: block
  .section-form
    padding: 34px 0 42px
  .form
    padding-top: 43px
    .btn
      margin-top: 35px
  .log-in
    padding: 33px 0 35px
  .section-info
    padding-top: 61px
    padding-bottom: 20px
  .section-info_title
    padding-bottom: 48px
    width: 73%
    margin: 0 auto
    line-height: 30px
  .section-info_item
    padding-bottom: 43px
  .section-info_name
    padding: 16px 0 5px