doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="x-ua-compatible" content="ie=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    title= current_page.data.title || "Verv Batura"
    = stylesheet_link_tag "site"
  body
    = partial "all-svg.svg"
    main
      = yield

    = javascript_include_tag "jquery-3.3.1.min.js"
    = javascript_include_tag "site"
