section#top.container_top(style='background-image: url(images/background-min.jpg);')
  .container
    .section-top
      img.logo src="images/logo_verv.png"
      h1.section-top_title Meditation & Sounds  by Verv
      p.section-top_info
        ' A unique app with a complex
        span approach  to mindfulness and anxiety relief
      a.btn.btn_blue.section-top_btn(href="#form-to-scroll")
        | Start my FREE TRIAL
        svg.icon.btn_icon
          use(xlink:href="#icon-arrow")
#form-to-scroll
section.section-form.section-transform style="display: none;"
  .form-sign
    a.btn.btn_dark-blue(href="#")
      | Sign up with Facebook
      svg.icon.btn_icon
        use(xlink:href="#icon-f")
    form.form
      .form_group
        input.form_input type="text" required="required"
        label.form_label Email
      .form_group
        input.form_input type="text" required="required"
        label.form_label Password
      .form_submit
        input.btn.btn_blue type="submit" value="Sign up"
        svg.icon.btn_icon
          use(xlink:href="#icon-arrow")
    .log-in
      ' Already registered?
      a href="#" Log in.
    .privacy-policy
      ' By continuing you accept our
      a(href="#") Terms and Conditions
      br
      ' and
      a(href="#") Privacy Policy
section.section-info
  h2.section-info_title Deepen your meditation practice
  .section-info_box.container
    .section-info_item
      img.section-info_img src="images/info_img_1.png"
      h3.section-info_name MEDITATION SOUNDS
      p.section-info_p Put yourself into a restful sleep or stay focused - out great music is here for satisfying different needs.
    .section-info_item
      img.section-info_img src="images/info_img_2.png"
      h3.section-info_name SLEEP BETTER
      p.section-info_p Full set of guided meditations will help your mind fall asleep and restore energy levels.
    .section-info_item
      img.section-info_img src="images/info_img_3.png"
      h3.section-info_name RELATIONSHIP
      p.section-info_p Build strong and healthy relationship with all those who matter, deal with past hurts and love fully.

footer.section-footer
  .footer_links
    a.footer_link(href="#") Terms & Conditions
    a.footer_link(href="#") Support
section.section_btn-scroll
  a.btn-scroll(href="#top")
    svg.icon.icon-top
      use(xlink:href="#icon-btn-top")
